name: Run Action Tests
on:
  pull_request:
    branches:
      - main
    paths:
      - 'dist/**'
      - 'action.yml'
  push:
    branches:
      - main
    paths:
      - 'dist/**'
      - 'action.yml'
  workflow_dispatch:

permissions:
  contents: read
  models: read

jobs:
  test-action-text:
    name: Test Action with Text
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Test action
        id: test
        uses: ./
        with:
          text: "Hello, world!"
          target-language: "Spanish"

  test-action-text-file:
    name: Test Action with Text File
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Test action
        uses: ./
        with:
          text-file: ".github/texts/sample.txt"
          target-language: "Polish"
